.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

button {
    background-color: lightgray;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
}

h1 {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}